<%-include('adminlayout/header.ejs')%>
<main class="main-wrap">
        <header class="main-header navbar">
            <div class="col-search">
                <form class="searchform">
                    <div class="input-group">
                        <input list="search_terms" type="text" class="form-control" placeholder="Search term">
                        <button class="btn btn-light bg" type="button"> <i class="material-icons md-search"></i></button>
                    </div>
                    <datalist id="search_terms">
                        <option value="Products">
                        <option value="New orders">
                        <option value="Apple iphone">
                        <option value="Ahmed Hassan">
                    </datalist>
                </form>
            </div>
            <div class="col-nav">
                <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i class="material-icons md-apps"></i> </button>
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link btn-icon" href="#">
                            <i class="material-icons md-notifications animation-shake"></i>
                            <span class="badge rounded-pill">3</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn-icon darkmode" href="#"> <i class="material-icons md-nights_stay"></i> </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="requestfullscreen nav-link btn-icon"><i class="material-icons md-cast"></i></a>
                    </li>
                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownLanguage" aria-expanded="false"><i class="material-icons md-public"></i></a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownLanguage">
                            <a class="dropdown-item text-brand" href="#"><img src="assets/imgs/theme/flag-us.png" alt="English">English</a>
                            <a class="dropdown-item" href="#"><img src="assets/imgs/theme/flag-fr.png" alt="Français">Français</a>
                            <a class="dropdown-item" href="#"><img src="assets/imgs/theme/flag-jp.png" alt="Français">日本語</a>
                            <a class="dropdown-item" href="#"><img src="assets/imgs/theme/flag-cn.png" alt="Français">中国人</a>
                        </div>
                    </li>
                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount" aria-expanded="false"> <img class="img-xs rounded-circle" src="assets/imgs/people/avatar2.jpg" alt="User"></a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                            <a class="dropdown-item" href="#"><i class="material-icons md-perm_identity"></i>Edit Profile</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-settings"></i>Account Settings</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-account_balance_wallet"></i>Wallet</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-receipt"></i>Billing</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-help_outline"></i>Help center</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-danger" href="#"><i class="material-icons md-exit_to_app"></i>Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </header>
        <section class="content-main">
            <div class="row">
                <div class="col-6">
                    <div class="content-header">
                        <h2 class="content-title">Add New Product</h2>
                        <form action="/admin/createCoupon" method="post" id="couponform">
                        <div>
                            <button type  class="btn btn-light rounded font-sm mr-5 text-body hover-up">Save to draft</button>
                            <button type="submit"  class="btn btn-md rounded font-sm hover-up">Add Coupon</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="row">
                                
                                
                                <div class="col-md-9">
                                    <div class="mb-4">
                                        <label class="form-label">Coupon Name</label>
                                        <input type="text" placeholder="Type here" class="form-control" name="couponName" id="name">
                                            <div style="display: none;" id="error1"  class="alert alert-danger" > </div>
                                        
                                    </div>
                                    <div class="mb-4"> 
                                        <label class="form-label">Coupon Description</label>
                                        <textarea placeholder="Type here" class="form-control" rows="4" name="desc" id="desc"></textarea>
                                <div style="display: none;" id="error2"  class="alert alert-danger" > </div>

                                    </div>
                                  
                                </div> <!-- col.// -->
                            </div> <!-- row.// -->
                            <hr class="mb-4 mt-0">
                            <div class="row">
                                
                                <div class="col-md-9">
                                    <div class="mb-4">
                                        <label class="form-label">Coupon Code</label>
                                        <input type="text" placeholder="coupon code" class="form-control" name="couponCode" id="code">
                                <div style="display: none;" id="error3"  class="alert alert-danger" > </div>

                                    </div>
                                </div> <!-- col.// -->
                                <div class="col-md-9">
                                    <div class="mb-4">
                                        <label class="form-label">Coupon Limit</label>
                                        <input type="number" placeholder="coupon code" class="form-control" name="limit" id="limit"> 
                                <div style="display: none;" id="error4"  class="alert alert-danger" > </div>

                                    </div>
                                    <div class="mb-4">
                                        <label class="form-label">Reduction Rate</label>
                                        <input type="number" placeholder="coupon code" class="form-control" name="reductionRate" id="discount">
                                <div style="display: none;" id="error5"  class="alert alert-danger" > </div>

                                    </div>
                                </div> 
                            </div> <!-- row.// -->
                        </form>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </section> <!-- content-main end// -->
        <script>
 const couponName=document.getElementById('name')
 const description=document.getElementById('desc')
 const couponCode=document.getElementById('code')
 const couponLimit=document.getElementById('limit')
 const couponDiscount=document.getElementById('discount')
const couponform=document.getElementById('couponform')

 const nameError=document.getElementById('error1')
 const descError=document.getElementById('error2')
 const codeError=document.getElementById('error3')
 const limitError=document.getElementById('error4')
 const discountError=document.getElementById('error5')

 function validate_productname() {
  const coupon_value = couponName.value.trim();
 const namepattern = /^[a-zA-Z\s]+$/;
  if (coupon_value === "") {
    nameError.style.display = "block";
    nameError.innerHTML = "Please enter the product name";
  } else if (!namepattern.test(coupon_value)) {
    nameError.style.display = "block";
    nameError.innerHTML = "Please enter valid product name";
  } else {
    nameError.style.display = "none";
    nameError.innerHTML = "";
  }
}

function validate_description() {
  const desc = description.value;
  if (desc.trim() === "") {
    descError.style.display = "block";
    descError.innerHTML = "please enter the description";
  } else {
    descError.style.display = "none";
    descError.innerHTML = "";
  }
}

function validate_limit() {
  const regprice = couponLimit.value.trim();
  const regular = parseFloat(regprice);
  if (regular < 0 ) {
    console.log('bdhbsauhdvhavydcuhvcx')
    limitError.style.display = "block";
    limitError.innerHTML = "Enter a valid price";
  } else if (regprice === "") {
    limitError.style.display = "block";
    limitError.innerHTML = "Please enter a price";
  } else {
    limitError.style.display = "none";
    limitError.innerHTML = "";
  }
}
function validateCode (){
    const coupon=couponCode.value.trim()
    codepattern=/^(?=(?:.*[a-zA-Z]){2})(?=[^\d]*\d)[a-zA-Z\d]{6}$/
    if(coupon === ""){
        codeError.style.display="block"
        codeError.innerHTML="Please enter a value"

    }
else if(!codepattern.test(coupon)){
    console.log('enetedfytevdvwgyevd')
        codeError.style.display="block"
        codeError.innerHTML="Please enter minimum 2 numbers and minimum 1 number and max 6 length"
}
else{
    codeError.style.display="none"
        codeError.innerHTML=""
}
}
function validateDiscount(){
     const discount = couponDiscount.value.trim() 
     const discountRate = parseFloat(discount);
  if (discountRate < 0 ) {
    console.log("enetererereerer")
    discountError.style.display = "block";
    discountError.innerHTML = "Enter a valid discount";
  } else if (discount === "") {
    discountError.style.display = "block";
    discountError.innerHTML = "Please enter a price";
  } else {
    discountError.style.display = "none";
    discountError.innerHTML = "";
  }
}

couponName.addEventListener("blur",validate_productname) 
description.addEventListener("blur",validate_description) 
couponCode.addEventListener("blur", validateCode);
couponLimit.addEventListener("blur", validate_limit);
couponDiscount.addEventListener("blur", validateDiscount);
couponform.addEventListener('submit',(event)=>{
    validate_productname()
    validate_description()
    validateCode()
    validate_limit()
    validateDiscount()
    if(nameError.innerHTML ||descError.innerHTML||codeError.innerHTML||limitError.innerHTML||discountError.innerHTML){
        event.preventDefault()
    }
})



        </script>
<%-include('adminlayout/footer.ejs')%>