<%-include("userlayout/header.ejs")%>
<div class="customer_login" class="cenetred_login">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 mx-auto">
        <div class="account_form">
          
          <div class="login_headings"><h2>Change Password</h2></div>
          
            <%if(locals.error){%>
                <div class="alert alert-danger"><%=error%></div> 
            <%}%>
          
          <form action="/change-password" method="post" id="pwdform">
           
            <p>
              <label>Current Password</label>
              <input type="password" name="current_pwd" id="currentpwd_inp"/>
             <p><div class="alert alert-danger" id="error1"  style="display: none;"></div></p> 
            </p>
            <p>
              <label>New Password</label>
              <input type="password" name="new_pwd" id="pwd_inp"/>
             <p><div class="alert alert-danger" id="error2" style="display: none;"></div></p> 
            </p>

            <label>Confirm Password</label>
              <input type="password" name="confirm_newpwd" id="confirm_pwd"/>
             <p><div class="alert alert-danger" id="error3" style="display: none;"></div></p> 
            </p>
            
            <div class="login_submit">
              <button type="submit">change Password</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
     
 const currentPwd=document.getElementById("currentpwd_inp");
 const error1=document.getElementById("error1");

 const pwdtag=document.getElementById("pwd_inp");
 const error2=document.getElementById("error2");

 const confirm_pwdtag=document.getElementById("confirm_pwd");
 const error3=document.getElementById("error3");
 const changepwdForm=document.getElementById("pwdform")

 function PasswordValidate(){
  const passwordCurrent=currentPwd.value;
const pwdpattern=/^(?=.*[a-z])(?=.*[A-Z])(?=.*[ *@#$%])(?=.*\d).{8,}$/
  if(passwordCurrent === ""){
    error1.style.display="block";
    error1.innerHTML="please enter password"
  }
  else if(!pwdpattern.test(passwordCurrent)){
    error1.style.display="block";
    error1.innerHTML="Password should contain Uppercase,Lowercase,Special characters and Digits minimum limit is 8 charac"
    
  }
  else{
    error1.style.display="none";
    error1.innerHTML=""
  }
}



function newPasswordValidate(){
  const pwd=pwd_inp.value;
const pwdpattern=/^(?=.*[a-z])(?=.*[A-Z])(?=.*[ *@#$%])(?=.*\d).{8,}$/
  if(pwd === ""){
    error2.style.display="block";
    error2.innerHTML="please enter password"
  }
  else if(!pwdpattern.test(pwd)){
    error2.style.display="block";
    error2.innerHTML="Password should contain Uppercase,Lowercase,Special characters and Digits minimum limit is 8 charac"
    
  }
  else{
    error2.style.display="none";
    error2.innerHTML=""
  }
}
function  confirmPassword(){
    if(confirm_pwdtag.value  === ""){

   error3.style.display="block";
    error3.innerHTML="please enter new password in the field"
    }
else if(pwdtag.value !== confirm_pwdtag.value) {
    error3.style.display="block";
    error3.innerHTML="please enter matching password"
}else{
    error3.style.display="none";
    error3.innerHTML=""
}

}

currentPwd.addEventListener("blur",PasswordValidate)
pwdtag.addEventListener("blur",newPasswordValidate)
confirm_pwdtag.addEventListener("blur",confirmPassword)
changepwdForm.addEventListener("submit",(event)=>{
    PasswordValidate()
    newPasswordValidate()
    confirmPassword()
    if(error1.innerHTML||error2.innerHTML||error3.innerHTML){
        event.preventDefault()
    }
})


</script>
<%-include("userlayout/footer.ejs")%>
