<%-include("userlayout/header.ejs")%>

<div class="customer_login" class="cenetred_login">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 mx-auto">
        <div class="account_form">
          
          <div class="login_headings"><h2>Password Assistance</h2></div>
         
          <form action="/forgot-password" method="post" id="forgotpwd">
            <p>
              <label>Email</label>
              <input type="text" name="email" id="email_inp"/>
             <p><div class="alert alert-danger" id="error1"  style="display: none;"></div></p> 
            </p>
            
            
            <div class="login_submit">
              <button type="submit">continue</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
 const emailinp= document.getElementById('email_inp')
 const emailerror=document.getElementById('error1')


 function emailvalidate(){
  const emailpattern=/^[a-zA-Z0-9_]+@[a-zA-Z]+\.[a-zA-Z]{2,4}$/
  const email=emailinp.value
  if(!emailpattern.test(email)){
    emailerror.style.display="block";
    emailerror.innerHTML="Enter valid email"

  }
  else if(email.trim()==""){
    emailerror.style.display="block";
    emailerror.innerHTML="Please enter your email"

  }
  else{
    emailerror.style.display= "none";
    emailerror.innerHTML=""
    
  }
}

emailinp.addEventListener('blur',emailvalidate)
forgotpwd.addEventListener('submit',(event)=>{
  emailvalidate()
  if(emailerror.innerHTML){
    event.preventDefault()
  }
})


</script>


<%-include("userlayout/footer.ejs")%>
