<div class="col-lg-3 col-md-12">
    <!--sidebar widget start-->
     <aside class="sidebar_widget">
         <div class="widget_inner">
             <div class="widget_list widget_categories">
                 <h3>Women</h3>
                 <ul>
                     <li class="widget_sub_categories sub_categories1"><a href="javascript:void(0)">Shoes</a>
                         
                     </li>
                     <li class="widget_sub_categories sub_categories2"><a href="javascript:void(0)">Bags</a>
                         
                     </li>
                     <li class="widget_sub_categories sub_categories3"><a href="javascript:void(0)">Clothing</a>
                         
                     </li>
                 </ul>
             </div>
             <div class="widget_list widget_filter">
                 <h3>Filter by price</h3>
                 <form action="#"> 
                     <div id="slider-range"></div>   
                     <button type="submit">Filter</button>
                     <input type="text" name="text" id="amount" />   
                 </form> 
             </div>
             
             <div class="widget_list widget_color">
                 <h3>Select By SIze</h3>
                 <ul>
                     <li>
                         <a href="#">S  <span>(6)</span></a> 
                     </li>
                     <li>
                         <a href="#"> M <span>(8)</span></a> 
                     </li>
                     <li>
                         <a href="#">L <span>(10)</span></a> 
                     </li>
                     <li>
                         <a href="#"> XL <span>(6)</span></a> 
                     </li>
                   
                 </ul>
             </div>
            
     
         </div>
     </aside>
     <!--sidebar widget end-->
    </div>