
<!doctype html>
<html class="no-js" lang="en">


<!-- Mirrored from htmldemo.net/braga/braga/login.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 22 Dec 2023 13:21:46 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Genex</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href=/public/assets/img/favicon.ico">
    
    <!-- CSS 
    ========================= -->
    <!--bootstrap min css-->
    <link rel="stylesheet" href="/public/assets/css/bootstrap.min.css">
    <!--owl carousel min css-->
    <link rel="stylesheet" href="/public/assets/css/owl.carousel.min.css">
    <!--slick min css-->
    <link rel="stylesheet" href="/public/assets/css/slick.css">
    <!--magnific popup min css-->
    <link rel="stylesheet" href="/public/assets/css/magnific-popup.css">
    <!--font awesome css-->
    <link rel="stylesheet" href="/public/assets/css/font.awesome.css">
    <!--ionicons css-->
    <link rel="stylesheet" href="/public/assets/css/ionicons.min.css">
    <!--7 stroke icons css-->
    <link rel="stylesheet" href="/public/assets/css/pe-icon-7-stroke.css">
    <!--animate css-->
    <link rel="stylesheet" href="/public/assets/css/animate.css">
    <!--jquery ui min css-->
    <link rel="stylesheet" href="/public/assets/css/jquery-ui.min.css">
    <!--plugins css-->
    <link rel="stylesheet" href="/public/assets/css/plugins.css">

    <!-- Main Style CSS -->
    <link rel="stylesheet" href="/public/assets/css/style.css">
    
    <!--modernizr min js here-->
    <script src="/public/assets/js/vendor/modernizr-3.7.1.min.js"></script>
    <!-- razorpay library -->
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>

</head>
<body>
<header>
    <div class="main_header sticky-header">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-2 col-md-4 offset-md-4 offset-lg-0 col-5 offset-3 col-sm-5">
                    <div class="logo">
                        <a href="/usershop"><img src="/public/assets/img/logo/genez.svg" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-8">                
                    <!--main menu start-->
                    <div class="main_menu menu_position"> 
                        <nav>  
                            <ul>
                                <li><a  href="/userhome" id="homelink" onclick="active()">home<i class="fa fa-angle-down"></i></a>
                                    <!-- <ul class="sub_menu">
                                        <li><a href="index.html">Home shop 1</a></li>
                                        <li><a href="index-2.html">Home shop 2</a></li>
                                        <li><a href="index-3.html">Home shop 3</a></li>
                                    </ul> -->
                                </li>
                                <li class="mega_items"><a href="/usershop" id="shoplink" onclick="active()" >shop<i class="fa fa-angle-down"></i></a> 
                                    
                                </li>
                                <li><a href="/listcoupons" id="couponlink" onclick="active()" >Coupons<i class="fa fa-angle-down"></i></a>
                                    
                                </li> 
                               
                            </ul>  
                        </nav> 
                    </div>
                    <!--main menu end-->
                </div> 
                <div class="col-lg-2 col-md-4 col-sm-4 col-4">
                    <div class="header_account_area">
                        <div class="header_account_list search_list">
                            <a href="javascript:void(0)"><span class="pe-7s-search"></span></a>
                            <div class="dropdown_search">
                                <form action="/search?id=name">
                                    <input placeholder="Search entire store here ..." type="text" name="search">
                                    <button type="submit"><span class="pe-7s-search"></span></button>
                                </form>
                            </div>
                        </div>
                        <div class="header_account_list  mini_cart_wrapper">
                            <a href="/loadcart"><span class="pe-7s-shopbag"></span>
                                <span class="item_count"></span>
                            </a>
                            
                       </div>
                        <div class="language_currency header_account_list ">
                            <a href="#"> <span class="pe-7s-user"></span></a>
                            <ul class="dropdown_currency">
                                <li><a href="/myaccount">My account</a></li>
                            </ul>
                        </div>
                    </div>
                </div>               
            </div>
        </div>
    </div> 
    
    <!--mini cart end-->
</header>
<script>
    if(window.location.pathname == "/userhome"){
        document.getElementById('couponlink').classList.remove('active')
        document.getElementById('shoplink').classList.remove('active')
        document.getElementById('homelink').classList.add('active')
    }
    else if(window.location.pathname == "/usershop"){
        document.getElementById('homelink').classList.remove('active')
        document.getElementById('couponlink').classList.remove('active')
        document.getElementById('shoplink').classList.add('active')
    }
    else if(window.location.pathname == '/listcoupons'){
        document.getElementById('homelink').classList.remove('active')
        document.getElementById('shoplink').classList.remove('active')
        document.getElementById('couponlink').classList.add('active')
    }
     

   
</script>